<% if (title) { %>
  <h1><%= title %></h1>
  <% } else {
        res.redirect('/')
  } %>
  
<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
      <% errors.array().forEach(error=> { %>
      <li><%= error.msg %></li>
      <% }) %>
  </ul> 
  <% } %>
    
<div id="inventory-form">
  <form id="updateForm" class="form-container" action="/inv/edit-inventory" method="post">
    <p class="required-text">ALL FIELDS ARE REQUIRED</p>
    <fieldset>
      <label class="form-label">Classification:
      <%- classificationSelect %>
      </label>

      <label class="form-label" for="make">Make: 
      <input type="text" id="make" name="inv_make" placeholder="Min of 3 characters" value="<%= locals.inv_make %>" required>
      </label>

      <label class="form-label" for="model">Model: 
      <input type="text" id="model" name="inv_model" placeholder="Min of 3 characters" value="<%= locals.inv_model %>" required>
      </label>

      <label class="form-label" for="description">Description: 
      <textarea type="text" id="description" name="inv_description" value="<%= locals.inv_description %>" required></textarea>
      </label>

      <label class="form-label" for="img-path">Image Path: 
      <input type="text" id="img-path" name="inv_image" placeholder="/images/vehicles/no-image.png" value="<%= locals.inv_image %>" required>
      </label>

      <label class="form-label" for="thumbnail-path">Thumbnail Path:
      <input type="text" id="thumbnail-path" name="inv_thumbnail" placeholder="/images/vehicles/no-image-tn.png" value="<%= locals.inv_thumbnail %>" required> 
      </label>

      <label class="form-label" for="price">Price: 
      <input type="text" id="price" name="inv_price" placeholder="decimal or interger" step="0.01" value="<%= locals.inv_price %>" required>
      </label>

      <label class="form-label" for="year">Year: 
      <input type="text" maxlength="4" id="year" name="inv_year" placeholder="4-digits only" pattern="\d{4}" value="<%= locals.inv_year %>" required >
      </label>

      <label class="form-label" for="miles">Miles: 
      <input type="text" id="miles" name="inv_miles" placeholder="digits only" value="<%= locals.inv_miles %>" required>
      </label>

      <label class="form-label" for="color">Color: 
      <input type="text" id="color" name="inv_color" value="<%= locals.inv_color %>" required>
      </label>
    </fieldset>
    <button class="submitBtn" type="submit" disable>Update Vehicle</button>
    
    <input type="hidden" name="inv_id"
    <% if(locals.inv_id) {
      %> value="<%= locals.inv_id %>" <%
    } %>>
  </form>
  
</div>

<script src="../../js/inv-update.js"></script>

